{% extends "base.html" %}
{% block title %}RT - Green Products{% endblock %}

{% block content %}
<div class="container d-flex" style="padding: 4rem;">
    <div class="card" style="width: 18rem; padding: 1rem; margin: 1rem;">
        <img src="#" class="card-img-top" alt="Image not found">
        <div class="card-body">
          <h5 class="card-title">Title</h5>
          <p class="card-text">Subtext</p>
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">CTA</button>
          <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="staticBackdropLabel">Title</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  About this item <br>
CUTS MEDIUM-SIZED LAWNS UP TO 210m² ON A SINGLE CHARGE – delivering all the power and performance of a petrol driven mower without the mess, noise and environmental impact
2 x NEW GENERATION LITHIUM 24V 2Ah BATTERIES - the lawnmower comes with two advanced batteries that you can use singly or together and also use in any Greenworks 24V tool to cut waste, save money and storage space
5 CUTTING HEIGHTS AND 2-IN-1 MULCHING OR COLLECTION – a single lever makes it easy to raise the blades from 20mm to 70mm, while the clippings can be collected in the large 40L bag or mulched into fine pieces to add nutrients back into the lawn
EASY TO MANOEUVRE AND STORE - large 18cm rear wheels make it very easy to move over all kinds of ground, it has a comfortable top handle for easy handling which fold down for to save storage space when not in use
3 YEAR GUARANTEE WITH 2 YEAR BATTERY WARRANTY – by Greenworks, a world leader in electric tools and battery technology, with a global reputation for smart design, high performance and outstanding customer service​
› See more product details
                </div>
                <div class="modal-footer">
                  <a href="mailto:queries@rolsatech.co.uk"><button type="button" class="btn btn-danger">Report and Issue with this Product</button></a>
                  <a href="https://www.amazon.co.uk/Greenworks-G24X2LM36K2x-Cordless-Battery-Charger/dp/B084D4KG5H/ref=sr_1_1_sspa?crid=11EOW5R8I280A&dib=eyJ2IjoiMSJ9.gPez3PdYsJwRewuA2sxFrMi1ajeZX3cdiJHxuhgK5YyqYueHZZLe_q3DFGYX4JjTvUxnHtWyg5XP54-kWmZgLcQmh4cDCQO6Cqn_D9fOe1UepVRpvi5o7pwJ3LqJek0rXIm-HNwZTO3_4NPfRvCUmzVJOdw7UFUPUxoMYbImS39mOdx53vfuPbUSDgMjly7TVI4-gZMfBnqepBmXjenzN8niqJaCXzi4ZHM3yaBGCQA.PHXl2Sj9KelgvZzloaOASCLgRs4IkSdGUnM7ldYX3uw&dib_tag=se&keywords=lawn%2Bmower&qid=1742207503&sprefix=lawn%2Bmower%2Caps%2C86&sr=8-1-spons&sp_csd=d2lkZ2V0TmFtZT1zcF9hdGY&th=1" target="_blank"><button type="button" class="btn btn-primary">Read More</button></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card" style="width: 18rem; padding: 1rem; margin: 1rem;">
        <img src="#" class="card-img-top" alt="Img">
        <div class="card-body">
          <h5 class="card-title">Title</h5>
          <p class="card-text">Subtext</p>
          <a href="#" class="btn btn-primary">CTA</a>
        </div>
      </div>
      <div class="card" style="width: 18rem; padding: 1rem; margin: 1rem;">
        <img src="#" class="card-img-top" alt="Img">
        <div class="card-body">
          <h5 class="card-title">Title</h5>
          <p class="card-text">Subtext</p>
          <a href="#" class="btn btn-primary">CTA</a>
        </div>
      </div>
      <div class="card" style="width: 18rem; padding: 1rem; margin: 1rem;">
        <img src="#" class="card-img-top" alt="Image">
        <div class="card-body">
          <h5 class="card-title">Title</h5>
          <p class="card-text">Subtext</p>
          <a href="#" class="btn btn-primary">CTA</a>
        </div>
      </div>

</div>
{% endblock %}