{% extends "base.html" %}
{% block title %}Lifts for Hire - Login{% endblock %}

{% block content %}
<form method="POST"  style="padding: 4rem;">
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Enter the email address of an existing account to reset your password</label>
        <input type="email" class="form-control" id="email" name="email" placeholder="username@email.com" required>
    </div>
    <button class="btn btn-primary">
        Reset Password
    </button>
</form>
{% endblock %}